<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Brouwkuyp-control{% endblock %}</title>
    {#<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">#}
    {#'bundles/brouwkuypdashboard/less/bootstrap.less'#}
    {% stylesheets
        '../src/Brouwkuyp/Bundle/DashboardBundle/Resources/public/less/bootstrap.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
</body>
</html>
