{% extends 'BrouwkuypDashboardBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-10" id="graph"
             data-url="{{ path('logs_current_recipe') }}"
             data-rabbit-mq-host="{{ rabbit_mq_host }}"
             data-topic-hlt-curr-temp="{{ constant('Brouwkuyp\\Bundle\\LogicBundle\\Model\\Log::TOPIC_HLT_CURR_TEMP') }}"
             data-topic-mlt-curr-temp="{{ constant('Brouwkuyp\\Bundle\\LogicBundle\\Model\\Log::TOPIC_MLT_CURR_TEMP') }}"
             data-topic-mlt-set-temp="{{ constant('Brouwkuyp\\Bundle\\LogicBundle\\Model\\Log::TOPIC_MASHER_SET_TEMP') }}"
             data-topic-blt-curr-temp="{{ constant('Brouwkuyp\\Bundle\\LogicBundle\\Model\\Log::TOPIC_BLT_CURR_TEMP') }}"
             data-topic-pump-curr-state="{{ constant('Brouwkuyp\\Bundle\\LogicBundle\\Model\\Log::TOPIC_PUMP_CURR_STATE') }}"
             data-topic-pump-curr-mode="{{ constant('Brouwkuyp\\Bundle\\LogicBundle\\Model\\Log::TOPIC_PUMP_CURR_MODE') }}"
             data-topic-broadcast-dialog="{{ constant('Brouwkuyp\\Bundle\\ServiceBundle\\Manager\\AMQP\\LogManager::ROUTE_BROADCAST_DIALOG') }}"
             data-topic-broadcast-log="{{ constant('Brouwkuyp\\Bundle\\ServiceBundle\\Manager\\AMQP\\LogManager::ROUTE_BROADCAST_LOG') }}"
                ></div>
        <div id="logs" class="col-md-2">
            <h3>Logs:</h3>
            <ul id="log-list" class="list-unstyled"></ul>
        </div>
    </div>
    <div id="graph-footer">
        <div class="row">
            <div class="col-md-2">
                <h3><small>HLT:</small></h3><h1 class="text-right"><span id="temp-curr-hlt"></span></h1>
            </div>
            <div class="col-md-2">
                <h3><small>MLT:</small></h3><h1 class="text-right"><span id="temp-curr-mlt"></span></h1>
                <h3 class="text-right"><span id="temp-set-mlt"></span></h3>
            </div>
            <div class="col-md-2">
                <h3><small>BLT:</small></h3><h1 class="text-right"><span id="temp-curr-blt"></span></h1>
            </div>
            <div class="col-md-2">
                <form action="">
                    <table id="switches">
                        <tbody>
                            <tr>
                                <td><label for="pump_mode">Pomp auto</label></td>
                                <td><div class="toggle-pump"><label for="pump_mode">Pomp</label></div></td>
                            </tr>
                            <tr>
                                <td><div class="switch"><input type="checkbox" checked="checked" name="pump_mode" id="pump_mode" data-url="{{ path('async_pump_mode') }}"/><label for="pump_mode"></label></div></td>
                                <td><div class="switch toggle-pump"><input type="checkbox" name="pump_state" id="pump_state" data-url="{{ path('async_pump_state') }}"/><label for="pump_state"></label></div></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
